/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f7f7; /* cor no fundo*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f8f7f7; /* cor conteiner*/
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #cabebe; /* cor do cota*/
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

button, input {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    background-color: #0056b3; /*cor butão*/ 
    color: white  ;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input:hover {
    background-color: #0056b3;/* cor butão*/
}

input {
   width: 200px;
}